## Built in Function - Các hàm có sẵn

In [ ]:
print("Chào mọi người")

In [ ]:
print "Chào bạn"

In [1]:
# 3 đối số đầu vào riêng biệt
print("Chào mọi người", "Các bạn có khỏe không?", sep='\n')

Chào mọi người
Các bạn có khỏe không?

In [ ]:
print("Chào mọi người", "Các bạn có khỏe không?", sep='|')

In [ ]:
print("Chào mọi người", "Các bạn có khỏe không?", 12, 45, end='**')

In [1]:
subtotal = 12.32
tax = subtotal * 0.07
total = subtotal + tax

formatted_str = "Sub: ${0} Tax: ${1} Total: ${total}"
# print("Sub: " + str(subtotal) + "\nTax:")
print(formatted_str.format(subtotal, tax, total=total))

Sub: $12.32 Tax: $0.8624 Total: $13.182400000000001

In [3]:
print(
    "Sub: ${0:0.2f} Tax: ${1:0.2f} Total: ${total:0.2f}".format(subtotal, tax, total=total)
)

Sub: $12.32 Tax: $0.86 Total: $13.18

In [3]:
print(      # f-string Python
    f"Sub: {subtotal:>20.2f}\n"
    f"Tax: {tax:<10.2f}\n"
    f"Total: {total:>13.2f}"
)       # https://realpython.com/python-f-strings/

Sub:                12.32
Tax: 0.86
Total:         13.18

In [2]:
len("abc")

3

In [3]:
len("abcdefghijklmnopqrstuvwxyz")

26

In [4]:
len(1234567)        # sequence iterable

TypeError: object of type 'int' has no len()

In [5]:
str_day_of_Python_for_tester_class = "Tuesday-Thursday-Saturday"
str_day_of_Python_for_tester_class = 1456

len(str_day_of_Python_for_tester_class)

TypeError: object of type 'int' has no len()

In [6]:
min(1, 3, 2.4, -6, 6.54)

-6

In [7]:
max(23, 1, 56)

56

In [8]:
abs(-65)

65

In [9]:
round(3.141563, 3)

3.142

In [10]:
round(100.8)

101

In [11]:
round(-15.278)

-15

In [12]:
sorted("hello")

['e', 'h', 'l', 'l', 'o']

In [13]:
sorted("python")

['h', 'n', 'o', 'p', 't', 'y']

In [14]:
sorted("Python")

['P', 'h', 'n', 'o', 't', 'y']

In [15]:
sorted("abcdef", reverse=True)

['f', 'e', 'd', 'c', 'b', 'a']

## String Functions - Hàm cho chuỗi & Giá trị trả về

In [16]:
string_var = "CHAO CA LOP!!"
string_var.lower()

'chao ca lop!!'

In [17]:
string_var

'CHAO CA LOP!!'

In [18]:
lowercase_var = string_var.lower()
lowercase_var.upper()

'CHAO CA LOP!!'

In [19]:
lowercase_var == string_var.lower()

True

In [21]:
capitalized_string = lowercase_var.capitalize()
capitalized_string

'Chao ca lop!!'

In [22]:
my_print = print("Chào các bạn!!")
my_print

Chào các bạn!!

In [23]:
print(my_print)

None

In [24]:
type(my_print)

NoneType

In [25]:
length = len("hello")
print(length)

5

In [26]:
type(length)

int

In [27]:
result = abs(-12564)

In [28]:
max_value = max ( 1.2, 456, 13345, 44)
print(max_value)

13345

In [29]:
sorted_character = sorted("asdfg")
print(sorted_character)

['a', 'd', 'f', 'g', 's']

In [30]:
type(sorted_character)

list

In [31]:
# đầu ra của hàm này có thể là đầu vào của hàm khác
abs(max(-1, -4, -8, -2))

1

In [32]:
print(len("hell yeah"))

9

In [33]:
print(round(5.7))

6

## List Intro - Giới thiệu List

In [34]:
empty_list = []
type(empty_list)

list

In [35]:
empty_list

[]

In [36]:
print(empty_list)

[]

In [37]:
int_list = [1, 2, 4, 5, 6]
int_list[-1] == int_list[4]

True

In [38]:
string_list = ["hello", "python", "world"]
string_list

['hello', 'python', 'world']

In [39]:
mixed_list = [5, "Hello", 2.5, [1, 3, 4, 6]]
mixed_list

[5, 'Hello', 2.5, [1, 3, 4, 6]]

In [40]:
students = ["Huong", "Ngoc", "Bao"]
students[0]

'Huong'

In [41]:
students[1]

'Ngoc'

In [ ]:
students[3] # 0 -> len(students) - 1

In [42]:
len(students)

3

In [ ]:
sorted(students)

In [ ]:
classes = ["A1", "A5", "A7", "A9"]
classes[3] = "B4"
classes

In [ ]:
last_index = len(classes) - 1
classes[last_index]

In [ ]:
classes[-1]

In [ ]:
classes[-2]

## Nested Lists - Mảng nhiều chiều

In [ ]:
x = [30, 'baz', 2.718, [1, 3, 4, 6]]

x[3][2]         # tương đương với y = x[3] rồi y[2]

In [ ]:
# x[1][2]     # tương đương x[-2][-1]
x[-3][-1]

In [ ]:
y = [[1, 2, 3],[4, 5, 6]]
y[1][-1]

## Slicing & List Functions

In [ ]:
num = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
num[::-1]       # range(1:10:2)

In [ ]:
classes

In [ ]:
classes[0:3:2]        # range, [0,3)

In [ ]:
classes[:]

In [ ]:
classes[2:]

In [ ]:
classes[:-1]

In [43]:
s = '0123456789abcdefghijklmnopqrstuvwxyz'
s[::-1]

'zyxwvutsrqponmlkjihgfedcba9876543210'

In [44]:
classes.append("C9")
classes

NameError: name 'classes' is not defined

In [45]:
classes.insert(4, "D6")
classes

NameError: name 'classes' is not defined

In [46]:
classes.index("A5")

NameError: name 'classes' is not defined

In [47]:
cars = ["Toyota", "Madza"]
cars

['Toyota', 'Madza']

In [48]:
cars.append(["Ford", "Mitsubishi"])
cars

['Toyota', 'Madza', ['Ford', 'Mitsubishi']]

In [ ]:
# cars.extend(["Ford", "Mitsubishi"])
del cars[2:4]   # remove list elements python
cars

In [ ]:
cars.insert(1, "Huyndai")
cars

In [ ]:
cars.remove("madza")        # hoặc dùng del
cars

In [ ]:
last_car = cars.pop()
last_car

In [ ]:
cars

In [ ]:
expensive_cars = ["Porsche", "Ferrari", "Lamboghini", "Ferrari"] # phần tử trùng nhau ok

In [ ]:
expensive_cars.sort()
expensive_cars

In [ ]:
expensive_cars.reverse()
expensive_cars

## Concat và copy Lis

In [ ]:
all_cars = cars + expensive_cars
all_cars

In [ ]:
cars.clear()
cars

In [ ]:
expensive_cars_copy = expensive_cars.copy()
expensive_cars_copy

In [ ]:
del expensive_cars
expensive_cars

In [ ]:
expensive_cars_copy

In [ ]:
expensive_cars_shallow_copy = expensive_cars_copy       # shallow != deep copy

In [ ]:
expensive_cars_shallow_copy.remove("Lamboghini")
expensive_cars_shallow_copy

In [ ]:
expensive_cars_copy

## Giới thiệu Tuple

In [ ]:
# Tuple là immutable
empty_tuple = ()
print(empty_tuple)

In [ ]:
type(empty_tuple)

In [ ]:
banks = ("ACB", "Techcombank", "Vietcombank")
banks.append("Sacombank")

In [ ]:
banks[0]

In [ ]:
banks[5]

In [ ]:
banks[0] = "HSBC"

In [ ]:
banks[0:2]

In [ ]:
char_tuple = tuple("LopPython")
char_tuple

In [ ]:
fruit_list = ["Apple", "Orange", "Melon", "Banana"]
fruit_tuple = tuple(fruit_list)
fruit_tuple

In [ ]:
"Apple" in fruit_tuple

In [ ]:
"Grape" in fruit_list

In [ ]:
"Grapes" not in fruit_tuple

## Giới thiệu Dictionary

In [1]:
empty_dict = {}
print(empty_dict)

{}

In [2]:
type(empty_dict)

dict

In [5]:
b=('Colorado', 'Rockies')
type(b)
a_list=[
        ('Colorado', 'Rockies'),
        ('Boston', 'Red Sox'),
        ('Minnesota', 'Twins'),
        ('Milwaukee', 'Brewers'),
        ('Seattle', 'Mariners')
]

a_dict=dict(a_list)
a_list

[('Colorado', 'Rockies'),
 ('Boston', 'Red Sox'),
 ('Minnesota', 'Twins'),
 ('Milwaukee', 'Brewers'),
 ('Seattle', 'Mariners')]

In [3]:
MLB_team = dict([
        ('Colorado', 'Rockies'),
        ('Boston', 'Red Sox'),
        ('Minnesota', 'Twins'),
        ('Milwaukee', 'Brewers'),
        ('Seattle', 'Mariners')
])
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners'}

In [ ]:
name2age = dict(Trang=24, Xuan=30, Anh=13)      # chỉ work nếu key là simple strings
name2age

In [1]:
banks_and_biz = {"techcom": "onemount",
                 "bacA": "THTruemilk",
                 "namA": "toancau"}
banks_and_biz

{'techcom': 'onemount', 'bacA': 'THTruemilk', 'namA': 'toancau'}

In [ ]:
banks_and_biz['bacA']

In [ ]:
banks_and_biz.keys()

In [ ]:
banks_and_biz.values()

In [ ]:
banks_and_biz.items()

In [ ]:
banks_and_biz['vpbank'] = 'masteri'
banks_and_biz

In [ ]:
banks_and_biz['namA'] = 'nothing'

In [ ]:
banks_and_biz.pop("namA")
banks_and_biz

In [ ]:
del banks_and_biz['bacA']
banks_and_biz

In [ ]:
company_and_biz = {'vin': ['healthcare', 'realestate', 'cars'],
                   'masan': ['retail', 'bank', 'resource'],
                   'vinamilk': ['retail', 'milkproduction', 'sellingcow']}
company_and_biz

In [ ]:
company_and_biz['masan'][0]

In [ ]:
int_key_dict = {1:'Ngoc', 2:'Quan', 3:'Dung'}

In [ ]:
# key không thể là dạng list
int_key_dict[2]

In [ ]:
int_key_dict[9]

## Datetime và các xử lý liên quan

In [ ]:
from datetime import date
from datetime import time
from datetime import datetime

* Unix epoch
* Daylight saving time
* Timezone

In [ ]:
# Get today's date
today =  date.today()
today

In [ ]:
# Components of the date
print("Today's year  :", today.year)
print("Today's month :", today.month)
print("Today's day   :", today.day)

In [ ]:
# Today's weekday
print("Today's weekday is :", today.weekday())      # bắt đầu từ thứ 2.
days = ['mon','tue','wed','thu','fri','sat','sun']
print("Today's weekday is :", days[today.weekday()])

In [ ]:
# Date and Time using Now() function
today  = datetime.now()
today

In [ ]:
date.fromisoformat("2021-09-02")        # theo chuẩn iso

In [ ]:
date_string = "01-31-2020 14:45:37"
format_string = "%m-%d-%Y %H:%M:%S"
datetime.strptime(date_string, format_string)

In [ ]:
# Get current time
currTime = datetime.time(datetime.now())
currTime

In [ ]:
# Formatting date
def format_date():
    now = datetime.now()
    print("Today's date and time :", now)
    print("Current year :", now.strftime('%Y'))
    print("Current year :", now.strftime('%y'))
    # '%Y/y'-> year, '%a/A'-> weekday,'%b/B'-> month, '%d'-> day of the month 
    print('Current date :', now.strftime('%d %B, %Y (%A)'))

format_date()