## Built in Function - Các hàm có sẵn

In [1]:
https://realpython.com/python-f-strings/

print("Chào mọi người")

Chào mọi người

In [2]:
print "Chào bạn"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Chào bạn")? (Temp/ipykernel_5792/2112355712.py, line 1)

In [3]:
print(2567)

2567

In [2]:
# 3 đối số đầu vào riêng biệt
print("Chào mọi người", "Các bạn có khỏe không?", sep='\n')

print("Chào mọi người", "Các bạn có khỏe không?",12,45)

Chào mọi người
Các bạn có khỏe không?
Chào mọi người Các bạn có khỏe không? 12 45

In [5]:
print("Chào mọi người", "Các bạn có khỏe không?", sep='|')

Chào mọi người|Các bạn có khỏe không?

In [6]:
print("Chào mọi người", "Các bạn có khỏe không?", end='**')

Chào mọi người Các bạn có khỏe không?**

In [7]:
len("abc")

3

In [8]:
len("abcdefghijklmnopqrstuvwxyz")

26

In [9]:
len(1234567)

TypeError: object of type 'int' has no len()

In [10]:
len(True)

TypeError: object of type 'bool' has no len()

In [11]:
min(1, 3, 2.4, -6, 6.54)

-6

In [12]:
max(23, 1, 56)

56

In [13]:
abs(-65)

65

In [14]:
round(3.141563)

3

In [15]:
round(100.8)

101

In [16]:
round(-15.678)

-16

In [17]:
sorted("hello")

['e', 'h', 'l', 'l', 'o']

In [18]:
sorted("python")

['h', 'n', 'o', 'p', 't', 'y']

In [19]:
sorted("Python")

['P', 'h', 'n', 'o', 't', 'y']

In [20]:
sorted("abcdef", reverse=True)

['f', 'e', 'd', 'c', 'b', 'a']

## String Functions - Hàm cho chuỗi & Giá trị trả về

In [21]:
string_var = "CHAO CA LOP!!"
string_var.lower()

string_var.format()

'chao ca lop!!'

In [22]:
string_var

'CHAO CA LOP!!'

In [23]:
lowercase_var = string_var.lower()
lowercase_var.upper()

'CHAO CA LOP!!'

In [24]:
lowercase_var == string_var.lower()

True

In [29]:
capitalized_string = lowercase_vra.capitalize()

In [30]:
my_print = print("Chào các bạn!!")
my_print

Chào các bạn!!

In [31]:
print(my_print)

None

In [32]:
type(my_print)

NoneType

In [33]:
length = len("hello")
print(length)

5

In [34]:
type(length)

int

In [37]:
result = abs(-12564)
abs(-12564) # ??????? Yen hoi

12564

In [3]:
max_value = max ( 1.2, 456, 13345, 44)
print(max_value)

13345

In [39]:
sorted_character = sorted("asdfg")
print(sorted_character)

['a', 'd', 'f', 'g', 's']

In [40]:
type(sorted_character)

list

In [41]:
# đầu ra của hàm này có thể là đầu vào của hàm khác
abs(max(-1, -4, -8, -2))

1

In [42]:
print(len("hell yeah"))

9

In [43]:
print(round(5.7))

6

## List Intro - Giới thiệu List

In [44]:
empty_list = []
type(empty_list)

list

In [45]:
empty_list

[]

In [46]:
print(empty_list)

[]

In [47]:
int_list = [1, 2, 4, 5, 6]
int_list

[1, 2, 4, 5, 6]

In [48]:
string_list = ["hello", "python", "world"]
string_list

['hello', 'python', 'world']

In [6]:
mixed_list = [5, "Hello", 2.5]
mixed_list = [["hello", "python", "world"], "Hello", 2.5]


mixed_list[0][0]

'hello'

In [9]:
students = ["Huong", "Ngoc", "Bao"]
students[0]
students[1]

'Ngoc'

In [8]:
students[1]

NameError: name 'students' is not defined

In [53]:
students[3]

IndexError: list index out of range

In [15]:
# len(students)
name="yen"
age="LE"
"Hello, {}. You are {}.".format(name, age)

'Hello, yen. You are LE.'

In [54]:
sorted(students)

['Bao', 'Huong', 'Ngoc']

In [21]:
classes = ["A1", "A5", "A7", "A9","5","fsdfd","A2","A11"]
# classes[3] = "B4"
classes[2:5]
classes[-5:-2]
classes[2:-1]
classes[1::2]
classes[::-2]
classes[5:1:-1]

['fsdfd', '5', 'A9', 'A7']

In [56]:
last_index = len(classes) - 1
classes[last_index]

'B4'

In [57]:
classes[-1]

'B4'

In [58]:
classes[-2]

'A7'

## Slicing & List Functions

In [59]:
classes[0:3]

['A1', 'A5', 'A7']

In [60]:
classes[2:4]

['A7', 'B4']

In [61]:
classes[0:-1]

['A1', 'A5', 'A7']

In [62]:
classes.append("C9")
classes

['A1', 'A5', 'A7', 'B4', 'C9']

In [63]:
classes.insert(4, "D6")
classes

['A1', 'A5', 'A7', 'B4', 'D6', 'C9']

In [64]:
classes.index("A5")

1

In [30]:
cars = ["Toyota", "Madza","YEN"]
cars

['Toyota', 'Madza', 'YEN']

In [24]:
cars.insert(1, "Huyndai")
cars

['Toyota', 'Huyndai', 'Madza']

In [25]:
cars.remove("Madza")
cars

['Toyota', 'Huyndai']

In [31]:
last_car = cars.pop()  # ???? Yen hoi
last_car
# cars

'YEN'

In [70]:
cars # ???? Yen hoi

['Toyota']

In [75]:
expensive_cars = ["Porsche", "Ferrari", "Lamboghini", "Ferrari"] # phần tử trùng nhau ok
expensive_cars

['Porsche', 'Ferrari', 'Lamboghini', 'Ferrari']

In [76]:
expensive_cars.sort()
expensive_cars

['Ferrari', 'Ferrari', 'Lamboghini', 'Porsche']

In [77]:
expensive_cars.reverse()
expensive_cars

['Porsche', 'Lamboghini', 'Ferrari', 'Ferrari']

## Concat và copy Lis

In [78]:
all_cars = cars + expensive_cars
all_cars

['Toyota', 'Porsche', 'Lamboghini', 'Ferrari', 'Ferrari']

In [79]:
cars.clear()
cars

[]

In [80]:
expensive_cars_copy = expensive_cars.copy()
expensive_cars_copy

['Porsche', 'Lamboghini', 'Ferrari', 'Ferrari']

In [81]:
del expensive_cars
expensive_cars

NameError: name 'expensive_cars' is not defined

In [82]:
expensive_cars_copy

['Porsche', 'Lamboghini', 'Ferrari', 'Ferrari']

In [84]:
expensive_cars_shallow_copy = expensive_cars_copy

In [85]:
expensive_cars_shallow_copy.remove("Lamboghini")
expensive_cars_shallow_copy

['Porsche', 'Ferrari', 'Ferrari']

In [86]:
expensive_cars_copy

['Porsche', 'Ferrari', 'Ferrari']

## Giới thiệu Tuple

In [88]:
# Tuple là immutable
empty_tuple = ()
print(empty_tuple)

()

In [89]:
type(empty_tuple)

tuple

In [90]:
banks = ("ACB", "Techcombank", "Vietcombank")
banks.append("Sacombank")

AttributeError: 'tuple' object has no attribute 'append'

In [91]:
banks[0]

'ACB'

In [92]:
banks[5]

IndexError: tuple index out of range

In [93]:
banks[0] = "HSBC"

TypeError: 'tuple' object does not support item assignment

In [94]:
banks[0:2]

('ACB', 'Techcombank')

In [95]:
char_tuple = tuple("LopPython")
char_tuple

('L', 'o', 'p', 'P', 'y', 't', 'h', 'o', 'n')

In [96]:
fruit_list = ["Apple", "Orange", "Melon", "Banana"]
fruit_tuple = tuple(fruit_list)
fruit_tuple

('Apple', 'Orange', 'Melon', 'Banana')

In [97]:
"Apple" in fruit_tuple

True

In [98]:
"Grape" in fruit_list

False

In [99]:
"Grapes" not in fruit_tuple

True

## Giới thiệu Dictionary

In [100]:
empty_dict = {}
print(empty_dict)

{}

In [101]:
type(empty_dict)

dict

In [102]:
banks_and_biz = {"techcom": "onemount",
                 "bacA": "THTruemilk",
                 "namA": "toancau"}
banks_and_biz

{'techcom': 'onemount', 'bacA': 'THTruemilk', 'namA': 'toancau'}

In [103]:
banks_and_biz['bacA']

'THTruemilk'

In [104]:
banks_and_biz.keys()

dict_keys(['techcom', 'bacA', 'namA'])

In [105]:
banks_and_biz.values()

dict_values(['onemount', 'THTruemilk', 'toancau'])

In [106]:
banks_and_biz.items()

dict_items([('techcom', 'onemount'), ('bacA', 'THTruemilk'), ('namA', 'toancau')])

In [107]:
banks_and_biz['vpbank'] = 'masteri'
banks_and_biz

{'techcom': 'onemount',
 'bacA': 'THTruemilk',
 'namA': 'toancau',
 'vpbank': 'masteri'}

In [109]:
banks_and_biz['namA'] = 'nothing'
banks_and_biz

{'techcom': 'onemount',
 'bacA': 'THTruemilk',
 'namA': 'nothing',
 'vpbank': 'masteri'}

In [110]:
banks_and_biz.pop("namA")
banks_and_biz

{'techcom': 'onemount', 'bacA': 'THTruemilk', 'vpbank': 'masteri'}

In [111]:
del banks_and_biz['bacA']
banks_and_biz

{'techcom': 'onemount', 'vpbank': 'masteri'}

In [112]:
company_and_biz = {'vin': ['healthcare', 'realestate', 'cars'],
                   'masan': ['retail', 'bank', 'resource'],
                   'vinamilk': ['retail', 'milkproduction', 'sellingcow']}
company_and_biz

{'vin': ['healthcare', 'realestate', 'cars'],
 'masan': ['retail', 'bank', 'resource'],
 'vinamilk': ['retail', 'milkproduction', 'sellingcow']}

In [113]:
company_and_biz['masan'][0]

'retail'

In [114]:
int_key_dict = {1: 'Ngoc', 2: 'Quan', 3: 'Dung'}
int_key_dict

In [ ]:
# key không thể là dạng list
int_key_dict[2]

In [ ]:
int_key_dict[9]

In [39]:
a=int(input("Nhap vao mot so nguyen:"))

if a>20:
    print("A lơn hon 20")
elif a<20:
    print("a nho hon 20")


# if 56+20>20+36:
#     print("A lơn hon 20")

a nho hon 20

In [46]:
# # a=12.32
# # b=56.58
# # c=456.21335
# # print("Sub: {0} text {2} total: {1}".format(a,b,c))

# a=[none]*10
# a

s='f'
t='b'
print('b'in 2*(s+t))

True

In [47]:
a=[None]*10
a
# print(len(a))

10