## Built in Function - Các hàm có sẵn

In [ ]:
print("Chào mọi người")

In [ ]:
print "Chào bạn"

In [ ]:
# 3 đối số đầu vào riêng biệt
print("Chào mọi người", "Các bạn có khỏe không?", sep='\n')

In [ ]:
print("Chào mọi người", "Các bạn có khỏe không?", sep='|')

In [ ]:
print("Chào mọi người", "Các bạn có khỏe không?", 12, 45, end='**')

In [ ]:
subtotal = 12.32
tax = subtotal * 0.07
total = subtotal + tax

formatted_str = "Sub: ${0} Tax: ${1} Total: ${total}"
# print("Sub: " + str(subtotal) + "\nTax:")
print(formatted_str.format(subtotal, tax, total=total))

In [ ]:
print(
    "Sub: ${0:0.2f} Tax: ${1:0.2f} Total: ${total:0.2f}".format(subtotal, tax, total=total)
)

In [ ]:
print(      # f-string Python
    f"Sub: {subtotal:>15.2f}\n"
    f"Tax: {tax:<15.2f}\n"
    f"Total: {total:>13.2f}"
)       # https://realpython.com/python-f-strings/

In [ ]:
len("abc")

In [ ]:
len("abcdefghijklmnopqrstuvwxyz")

In [ ]:
len(1234567)        # sequence iterable

In [ ]:
str_day_of_Python_for_tester_class = "Tuesday-Thursday-Saturday"
str_day_of_Python_for_tester_class = 1456

len(str_day_of_Python_for_tester_class)

In [ ]:
min(1, 3, 2.4, -6, 6.54)

In [ ]:
max(23, 1, 56)

In [ ]:
abs(-65)

In [ ]:
round(3.141563, 3)

In [ ]:
round(100.8)

In [ ]:
round(-15.278)

In [ ]:
sorted("hello")

In [ ]:
sorted("python")

In [ ]:
sorted("Python")

In [ ]:
sorted("abcdef", reverse=True)

## String Functions - Hàm cho chuỗi & Giá trị trả về

In [ ]:
string_var = "CHAO CA LOP!!"
string_var.lower()

In [ ]:
string_var

In [ ]:
lowercase_var = string_var.lower()
lowercase_var.upper()

In [ ]:
lowercase_var == string_var.lower()

In [ ]:
capitalized_string = lowercase_var.capitalize()

In [ ]:
my_print = print("Chào các bạn!!")
my_print

In [ ]:
print(my_print)

In [ ]:
type(my_print)

In [ ]:
length = len("hello")
print(length)

In [ ]:
type(length)

In [ ]:
result = abs(-12564)

In [ ]:
max_value = max ( 1.2, 456, 13345, 44)
print(max_value)

In [ ]:
sorted_character = sorted("asdfg")
print(sorted_character)

In [ ]:
type(sorted_character)

In [ ]:
# đầu ra của hàm này có thể là đầu vào của hàm khác
abs(max(-1, -4, -8, -2))

In [ ]:
print(len("hell yeah"))

In [ ]:
print(round(5.7))

## List Intro - Giới thiệu List

In [ ]:
empty_list = []
type(empty_list)

In [ ]:
empty_list

In [ ]:
print(empty_list)

In [ ]:
int_list = [1, 2, 4, 5, 6]
int_list[-1] == int_list[4]

In [ ]:
string_list = ["hello", "python", "world"]
string_list

In [ ]:
mixed_list = [5, "Hello", 2.5, [1, 3, 4, 6]]
mixed_list

In [ ]:
students = ["Huong", "Ngoc", "Bao"]
students[0]

In [ ]:
students[1]

In [ ]:
students[3] # 0 -> len(students) - 1

In [ ]:
len(students)

In [ ]:
sorted(students)

In [ ]:
classes = ["A1", "A5", "A7", "A9"]
classes[3] = "B4"
classes

In [ ]:
last_index = len(classes) - 1
classes[last_index]

In [ ]:
classes[-1]

In [ ]:
classes[-2]

## Nested Lists - Mảng nhiều chiều

In [ ]:
x = [30, 'baz', 2.718, [1, 3, 4, 6]]

x[3][2]         # tương đương với y = x[3] rồi y[2]

In [ ]:
# x[1][2]     # tương đương x[-2][-1]
x[-3][-1]

In [ ]:
y = [[1, 2, 3],[4, 5, 6]]
y[1][-1]

## Slicing & List Functions

In [ ]:
num = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
num[::-1]       # range(1:10:2)

In [ ]:
classes

In [ ]:
classes[0:3:2]        # range, [0,3)

In [ ]:
classes[:]

In [ ]:
classes[2:]

In [ ]:
classes[:-1]

In [ ]:
s = '0123456789abcdefghijklmnopqrstuvwxyz'
s[::-1]

In [ ]:
classes.append("C9")
classes

In [ ]:
classes.insert(4, "D6")
classes

In [ ]:
classes.index("A5")

In [ ]:
cars = ["Toyota", "Madza"]
cars

In [ ]:
cars.append(["Ford", "Mitsubishi"])
cars

In [ ]:
# cars.extend(["Ford", "Mitsubishi"])
del cars[2:4]   # remove list elements python
cars

In [ ]:
cars.insert(1, "Huyndai")
cars

In [ ]:
cars.remove("madza")        # hoặc dùng del
cars

In [ ]:
last_car = cars.pop()
last_car

In [ ]:
cars

In [ ]:
expensive_cars = ["Porsche", "Ferrari", "Lamboghini", "Ferrari"] # phần tử trùng nhau ok

In [ ]:
expensive_cars.sort()
expensive_cars

In [ ]:
expensive_cars.reverse()
expensive_cars

## Concat và copy Lis

In [ ]:
all_cars = cars + expensive_cars
all_cars

In [ ]:
cars.clear()
cars

In [ ]:
expensive_cars_copy = expensive_cars.copy()
expensive_cars_copy

In [ ]:
del expensive_cars
expensive_cars

In [ ]:
expensive_cars_copy

In [ ]:
expensive_cars_shallow_copy = expensive_cars_copy       # shallow != deep copy

In [ ]:
expensive_cars_shallow_copy.remove("Lamboghini")
expensive_cars_shallow_copy

In [ ]:
expensive_cars_copy

## Giới thiệu Tuple

In [ ]:
# Tuple là IM-mutable
empty_tuple = ()
print(empty_tuple)

In [ ]:
type(empty_tuple)

In [ ]:
bank_list

In [ ]:
bank_list = ["ACB", "Techcombank", "Vietcombank"]
bank_list.append("HSBC")
bank_list

banks = ("ACB", "Techcombank", "Vietcombank")
banks.append("Sacombank")

In [ ]:
banks[0]

In [ ]:
banks[5]

In [ ]:
# banks[0] = "HSBC"
another_bank_list = banks

list_banks = list(banks)        # str() int()
list_banks.append("HSBC")
another_bank_list = tuple(list_banks)          # [] () list() tuple()

# another_another_bank_list = tuple((list(another_bank_list)).append("KienLongBank"))
another_bank_list

In [ ]:
banks[:2]

In [ ]:
char_tuple = tuple("LopPython")
char_tuple

In [ ]:
fruit_list = ["Apple", "Orange", "Melon", "Banana"]
fruit_tuple = tuple(fruit_list)
fruit_tuple

In [ ]:
"Apple" in fruit_tuple      # O()

In [ ]:
"Grape" in fruit_list

In [ ]:
"Grapes" not in fruit_tuple

## Như là tiền mình làm ra mà đưa vợ rồi, không thể tiêu được, dù muốn hay không

## Giới thiệu Dictionary

In [ ]:
empty_dict = {}     # dict or set
print(empty_dict)

In [ ]:
type(empty_dict)

In [ ]:
MLB_team = dict([               # (key, value)          # key immutable type
        (1, 'Rockies'),
        ((1,2,3), "Rockies_Extra"),
        ('California', 'Rockies_Extra'),
        ('Boston', 'Red Sox'),
        ('Minnesota', 'Twins'),
        ('Milwaukee', 'Brewers'),
        ('Seattle', 'Mariners')
])
MLB_team

In [ ]:
name2age = dict(Trang=24, Xuan=30, Anh=13)      # chỉ work nếu key là simple strings
name2age

In [ ]:
banks_and_biz = {"techcom": "onemount",
                 "bacA": "THTruemilk",
                 "namA": "toancau"}
banks_and_biz

In [ ]:
banks_and_biz['bacA']

In [ ]:
banks_and_biz.keys()

In [ ]:
banks_and_biz.values()

In [ ]:
banks_and_biz.items()

In [ ]:
banks_and_biz['vpbank'] = 'masteri'
banks_and_biz

In [ ]:
banks_and_biz['namA'] = 'nothing'

In [ ]:
banks_and_biz.pop("namA")       # pop()
banks_and_biz

In [ ]:
del banks_and_biz['bacA']
banks_and_biz

In [ ]:
company_and_biz = {'vin': ['healthcare', 'realestate', 'cars'],
                   'masan': ['retail', 'bank', 'resource'],
                   'vinamilk': ['retail', 'milkproduction', 'sellingcow']}
company_and_biz

In [ ]:
company_and_biz['masan'][0]

In [ ]:
int_key_dict = {1:'Ngoc', 2:'Quan', 3:'Dung'}

In [ ]:
# key không thể là dạng list
int_key_dict[2]

In [ ]:
int_key_dict[9]

## Set - Tập hợp

In [ ]:
s = set()   # dict, tuple, list, set
s

In [ ]:
a = {5, 3, 3, 2, 1, 4}
a

In [ ]:
my_set = {1.0, "Xin chào", (1, 2, 3)}
my_set

In [ ]:
my_set.add(4)
my_set.pop()
my_set

In [ ]:
sv = ['a', 'b', 'c', 'a', 'z', 'b']
if 'a' in set(sv):
    print("Có sinh viên a trong lớp")
set(sv)

## Datetime và các xử lý liên quan

In [ ]:
from datetime import date
from datetime import time
from datetime import datetime

* Unix epoch = January 1, 1970, at 00:00:00 UTC
* Daylight saving time
* Timezone: UTC -> HaNoi +7

In [ ]:
# Get today's date
today =  date.today()
today

In [ ]:
# Components of the date
print("Today's year  :", today.year)
print("Today's month :", today.month)
print("Today's day   :", today.day)

In [ ]:
# Today's weekday
print("Today's weekday is :", today.weekday())      # bắt đầu từ thứ 2.
days = ['mon','tue','wed','thu','fri','sat','sun']
print("Today's weekday is :", days[today.weekday()])

In [ ]:
# Date and Time using Now() function
today  = datetime.now()
today

In [ ]:
date.fromisoformat("2021-09-02")        # theo chuẩn iso

In [ ]:
date_string = "14h45m37s Month 01: Day:31 Y:2020"
format_str =  "%Hh%Mm%Ss Month %m: Day:%d Y:%Y"
# format_string = "%H:%M:%S %m-%d-%Y"
datetime.strptime(date_string, format_str)   # parse

In [ ]:
# Get current time
currTime = datetime.time(datetime.now())
currTime

In [ ]:
# Formatting date
def format_date():
    now = datetime.now()
    print("Today's date and time :", now)
    print("Current year :", now.strftime('%Y'))
    print("Current year :", now.strftime('%y'))
    # '%Y/y'-> year, '%a/A'-> weekday,'%b/B'-> month, '%d'-> day of the month 
    print('Current date :', now.strftime('%d %B, %Y (%A)'))

format_date()