## Định nghĩa và gọi Hàm tự viết

In [1]:
def do_something():
    pass
do_something()

In [2]:
def greet():
    print("Chào buổi chiều!!")

greet()

Chào buổi chiều!!

In [4]:
def say_hello():
    print("CHao mung ban den voi VN")
say_hello()

CHao mung ban den voi VN

In [5]:
# hãy định nghĩa hàm này rồi chạy lại dòng trên
def say_hello():
    print("Goodbye")

In [6]:
print(some_var)

NameError: name 'some_var' is not defined

In [7]:
def causes_error():
    print(some_var)

In [8]:
causes_error()

NameError: name 'some_var' is not defined

In [9]:
def calculate_sum():
    print("Sum of 2, 3, 4 is", 2 + 3 + 4)

calculate_sum()

Sum of 2, 3, 4 is 9

In [10]:
a = 2
b, c = 3, 4

def calculate_sum():
    result = a + b +c

    print("Sum of a, b, c is", result)

    if result < 10:
        print("The sum is less than 10")

calculate_sum()

Sum of a, b, c is 9
The sum is less than 10

In [ ]:
a = 1
calculate_sum()

## Truyền đối số và giá trị trả về

In [11]:
def calculate_sum(a, b, c):     # scope of variable, stack 
    result = a + b + c
    print("Sum of a, b, c is", result)
    print(c)

    if result < 10:
        print("The sum is less than 10!")
    else:
        print("The sum is greater than 10!")

calculate_sum(10, 10, 2)
print(c)

Sum of a, b, c is 22
2
The sum is greater than 10!
4

In [ ]:
calculate_sum(10, 10, 10)

In [12]:
x, y, z = 100, 200, 300
calculate_sum(x, y, z)
print(f"{a}, {b}, {c}")

Sum of a, b, c is 600
300
The sum is greater than 10!
2, 3, 4

In [13]:
def luy_thua(num, exponent):
    power = num ** exponent
    return power

luy_thua(5, 2)

25

In [14]:
result = luy_thua(4, 2)
result

16

In [15]:
def square_and_cube(num):
    square = num ** 2
    cube = num ** 3
    return square, cube

square_and_cube(12)

(144, 1728)

In [16]:
# gán kết quả về cho 2 biến riêng biệt
n_square, n_triple = square_and_cube(5)
print(n_square, n_triple)

25 125

In [17]:
def divisible_by_5(num):
    if num % 5 == 0:
        return "This number is divisible by 5"

# what happen when it's not?

## Thay đổi đối số đầu vào

In [ ]:
int_var = 3
float_var = 2.5
string_var = "Hello"
bool_var = True

In [ ]:
def reassign_primitive_arguments(int_var, float_var, string_var, bool_var):
    int_var = 30
    float_var = 30.3
    string_var += "Goodbye!!"  # <---- string is immutable, ở đây tạo biến thành biến mới cùng tên trong local stack
    bool_var = False
    
    print("Inside the function: ", int_var, float_var, string_var, bool_var)

In [ ]:
print("Outside the function: ", int_var, float_var, string_var, bool_var)
reassign_primitive_arguments(int_var, float_var, string_var, bool_var)
print("Outside the function: ", int_var, float_var, string_var, bool_var)

In [ ]:
a_list = ['VietNam', 'China', 'US']
a_tuple = ('Cầu Giấy', 'Bình Thạnh')
a_dictionary = {'Cầu Giấy': 30, 'Bình Thạnh': 9000}

In [ ]:
def reassign_arguments(a_list, a_tuple, a_dictionary):
    a_list = ['Russia']
    a_tuple = ('Thủ Đức')
    a_dictionary = {'Thủ Đức': 13000}

    print("Inside the function: ", a_list, a_tuple, a_dictionary)

In [ ]:
print("Outside the function: ", a_list, a_tuple, a_dictionary)
reassign_arguments(a_list, a_tuple, a_dictionary)
print("Outside the function: ", a_list, a_tuple, a_dictionary)

In [ ]:
logistic_centers = ['Bắc Ninh', 'Bình Dương', 'Tân Vạn', 'Bắc Giang']
def modify_list(logistic_center):
    logistic_center.append('Cần Thơ')

In [ ]:
modify_list(logistic_centers)
logistic_centers

In [ ]:
def modify_list(a_list):
    # a_list = [2, 4, 5, 6]
    a_list[1] = "Đà Nẵng"
    a_list.pop()

In [ ]:
modify_list(logistic_centers)
logistic_centers

In [ ]:
def modify_dict(a_dict):
    del a_dict['Cầu Giấy']

    a_dict['Bình Thạnh'] = 9500
    a_dict = {}

modify_dict(a_dictionary)
a_dictionary

## Đối số có từ khóa - Keyword Arguments

In [ ]:
def vinfast_car(model, year, hp, engine, zero_to_sixty, top_speed, price):
    other_details = hp, engine, zero_to_sixty, top_speed, price

    print("Name of the car: Vinfast ", model)
    print("Year: ", year)
    print("0 to 60: ", zero_to_sixty)
    print("Price: ", price)
    print("Remaining details (hp, engine, zero_to_sixty, top_speed, price): ", other_details)

In [ ]:
vinfast_car("Lux SA2.0", 
            "2020", 
            228, 
            2.0,
            4.9,
            250,
            1074450000)

In [ ]:
vinfast_car("Lux SA2.0", 
            "2020", 
            228, 
            2.0,
            1074450000)

In [ ]:
vinfast_car("Lux SA2.0", 
            "2020", 
            hp=228, 
            engine=2.0,
            zero_to_sixty=4.9,
            top_speed=250,
            price=1074450000)

In [ ]:
vinfast_car("Lux SA2.0", 
            "2020", 
            hp=228, 
            2.0,
            zerotosixty=4.9,
            top_speed=250,
            price=1074450000)

In [ ]:
def vinfast_car(model, year, hp, engine, zero_to_sixty, top_speed, price=976000000):
    other_details = hp, engine, zero_to_sixty, top_speed, price

    print("Name of the car: Vinfast ", model)
    print("Year: ", year)
    print("0 to 60: ", zero_to_sixty)
    print("Price: ", price)
    print("Remaining details (hp, engine, zero_to_sixty, top_speed, price): ", other_details)

In [ ]:
vinfast_car("Lux SA2.0", 
            "2020", 
            hp=228, 
            engine=2.0,
            zero_to_sixty=4.9,
            top_speed=250)

In [ ]:
def vinfast_car_all_keywords(model="Lux 2.0", year="2020", hp=228, engine=2.0, zero_to_sixty=4.8, top_speed=250, price=976000000):
    other_details = hp, engine, zero_to_sixty, top_speed, price

    print("Name of the car: Vinfast ", model)
    print("Year: ", year)
    print("0 to 60: ", zero_to_sixty)
    print("Price: ", price)
    print("Remaining details (hp, engine, zero_to_sixty, top_speed, price): ", other_details)

vinfast_car_all_keywords()

In [ ]:
vinfast_car(year="2021", price=1345000000)

## List/Dictionary unpacking

In [21]:
vals = [28, 2.0, 4.9, 250, 1074450000]
hp, engine, zero_to_sixty, top_speed, price = vals

In [ ]:
hp, engine, zero_to_sixty, top_speed = vals

In [24]:
hp,*others, price = vals
others

[2.0, 4.9, 250]

In [22]:
*others, price = vals
others

[28, 2.0, 4.9, 250]

In [23]:
hp, engine, *others = vals      # chỉ được phép có 1 dấu *
others

[4.9, 250, 1074450000]

In [25]:
# tương tự cho dictionary nhưng với **
numbers = {"one": 1, "two": 2, "three": 3}
letters = {"a": "A", "b": "B", "c": "C"}
combination = {**numbers, **letters}
combination
# print(**numbers)

{'one': 1, 'two': 2, 'three': 3, 'a': 'A', 'b': 'B', 'c': 'C'}

In [26]:
def vinfast_car_all_keywords(**kwargs):
    for arg in kwargs.items():
        print(f"{arg[0]}: {arg[1]}")

vinfast_car_all_keywords(**dict(model="Lux 2.0", year="2020", hp=228, engine=2.0, zero_to_sixty=4.8, top_speed=250, price=976000000))

model: Lux 2.0
year: 2020
hp: 228
engine: 2.0
zero_to_sixty: 4.8
top_speed: 250
price: 976000000

In [27]:
def vinfast_car_all_keywords(**kwargs):
    for arg in kwargs.items():
        print(f"{arg[0]}: {arg[1]}")

vinfast_car_all_keywords(model="Lux 2.0", year="2020", hp=228, engine=2.0, zero_to_sixty=4.8, top_speed=250, price=976000000)

model: Lux 2.0
year: 2020
hp: 228
engine: 2.0
zero_to_sixty: 4.8
top_speed: 250
price: 976000000

In [9]:
# correct_function_definition.py
def my_function(a, b, *args, **kwargs):
    print(f"{a} & {b} là các standard arguments")
    print("*args là các positional arguments")
    for arg in args:
        print(f"\t{arg}")
    print("**kwargs là các named hoặc keyword arguments")
    for arg in kwargs.items():
        print(f"\t{arg[0]}: {arg[1]}")

my_function("Lớp Python học vào", "thứ 3-5-7 có", 40, "bạn học viên", coordinator="Vinh", groups=8)

Lớp Python học vào & thứ 3-5-7 có là các standard arguments
*args là các positional arguments
	40
	bạn học viên
**kwargs là các named hoặc keyword arguments
	coordinator: Vinh
	groups: 8

## Hàm như một đối tượng hạng nhất

In [30]:
# Lập trình hàm: function programing
# list, dict, set = Iterable = có thể đọc được, có thể duyệt qua được
def my_car(car):
    print("My car is a", car)

my_car("Vinfast Lux 2.0")

My car is a Vinfast Lux 2.0

In [31]:
my_car

In [32]:
car_fn = my_car

In [33]:
car_fn("Toyota")

My car is a Toyota

In [29]:
maximum = max

In [30]:
num_list = [56, 3, 5, 1467, 23]
maximum(num_list)

1467

In [36]:
maximum == max

True

In [37]:
d = {"cat": 1, my_car: 2, 42: 3}
d[my_car]

2

In [38]:
def calculate_importTax(price, type_of_item):
    if type_of_item == "Product":
        return price * 1.1
    elif type_of_item == "Service":
        return price * 1.05

    return price * 1.5

In [39]:
def calculate_VAT(price, type_of_item):
    return price * 1.1

In [40]:
type_of_tax = calculate_importTax

In [41]:
type_of_tax(1000, "Product")

1100.0

In [42]:
type_of_tax(1000, "Service")

1050.0

In [43]:
type_of_tax = calculate_VAT

In [44]:
type_of_tax(1000, "Product")

1100.0

In [45]:
type_of_tax(1000, "Service")

1100.0

In [47]:
def find_tax_calculator(type_of_tax):
    if type_of_tax == "importTax":
        return calculate_importTax
    elif type_of_tax == "VAT":
        return calculate_VAT

In [48]:
importTax_fn = find_tax_calculator("importTax")
importTax_fn

In [49]:
vat_fn = find_tax_calculator("VAT")
vat_fn

In [50]:
importTax_fn(1000, "Product")

1100.0

In [51]:
vat_fn(1000, "Product")

1100.0

In [52]:
def get_price_plus_taxes(price, type_of_item, tax_fn):
    return tax_fn(price, type_of_item)

In [53]:
get_price_plus_taxes(2000, "Product", tax_fn=calculate_importTax)

2200.0

In [54]:
get_price_plus_taxes(2000, "Product", tax_fn=calculate_VAT)

2200.0

## Sorted

In [15]:
string_value = 'I like to sort'
sorted_string = sorted(string_value)
sorted_string

[' ', ' ', ' ', 'I', 'e', 'i', 'k', 'l', 'o', 'o', 'r', 's', 't', 't']

In [16]:
sorted_string = sorted(string_value.split())
sorted_string

['I', 'like', 'sort', 'to']

In [17]:
' '.join(sorted_string)

'I like sort to'

In [18]:
# Non-comparable data type can't be sorted()
mixed_types = ["VN", 0, "Australia", 1]
sorted(mixed_types)

TypeError: '<' not supported between instances of 'int' and 'str'

In [19]:
similar_values = [False, 0, 1, 'A' == 'B', 1 <= 0]
sorted(similar_values)          # <--  sort stability: Khi các giá trị bằng nhau chúng được giữ nguyên thứ tự

[False, 0, False, False, 1]

In [25]:
names_with_case = ['harry', 'Suzy', 'al', 'Mark']
sorted(names_with_case)

['Mark', 'Suzy', 'al', 'harry']

In [21]:
list_ans = []
for name in sorted(names_with_case):
    list_ans.append((ord(name[0]), name[0]))
list_ans

[(77, 'M'), (83, 'S'), (97, 'a'), (104, 'h')]

Vậy còn trường hợp các ký tự giống nhau hết thì sao? vd ['hhhh', 'hh', 'hhhhh','h'] hay ['hhhhhd', 'hhhhha', 'hhhhhc','hhhhhb']

## Functional programming

In [24]:
sorted(logistic_centers)

NameError: name 'logistic_centers' is not defined

In [ ]:
sorted(logistic_centers, key=len)       # <--- len is a callback

In [ ]:
def reverse_len(s):
    return -len(s)

sorted(logistic_centers, key=reverse_len)

In [23]:
names_with_case = ['harry', 'Suzy', 'al', 'Mark']
sorted(names_with_case)

['Mark', 'Suzy', 'al', 'harry']

In [28]:
sorted(names_with_case, key=str.lower)

['al', 'harry', 'Mark', 'Suzy']

In [27]:
# 1st limitation
def add(x, y):
    return x + y
values_to_add = [1, 2, 3]
sorted(values_to_add, key=add)

TypeError: add() missing 1 required positional argument: 'y'

In [26]:
# 2nd limitation
values_to_cast = ['1', '2', '3', 'four']
sorted(values_to_cast, key=int)

ValueError: invalid literal for int() with base 10: 'four'

In [29]:
#key: apply lên đối số truyền vào phía trươc: names_with_case
# 
sorted(names_with_case, key=lambda x: x[::-1])

['Mark', 'al', 'harry', 'Suzy']

In [ ]:
def reverse_word(word):
    return word[::-1]

print(sorted(names_with_case))
sorted(names_with_case, key=reverse_word)

### Lambda function
A lambda là một hàm không tên (anonymous function) mà:
* Phải được định nghĩa tại chỗ
* Không có tên
* Không được chứa các câu lệnh riêng
* Được thực thi như một hàm bình thường

In [ ]:
sorted(names_with_case, key=lambda x: x[::-1])

In [ ]:
from collections import namedtuple

Stock = namedtuple("Stock", ["symbol", "current", "high", "low"])
stock1 = Stock("CTG", 32, high=42, low=19.1)
stock2 = Stock("MBB", 27.46, high=32.2, low=11.4)
stock3 = Stock("ACB", 32.16, high=38.2, low=16.5)
VNIndex = [stock1, stock2, stock3]
sorted(VNIndex, key=lambda x: getattr(x, 'high'), reverse=True)

In [ ]:
prices = [1938098, 28485204, 29485772, 55838438]
types = ['Product']*4
final_prices = map(calculate_VAT, prices, types)
list(final_prices)

### .sort()

Chỉ có trong kiểu list và sắp xếp inplace